<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<!-- STYLESHEETS -->
<link rel="stylesheet" type="text/css" href="shared/shiny.css"/>
<link rel="stylesheet" type="text/css" href="shared/slider/css/jquery.slider.min.css"/>
<link rel="stylesheet" type="text/css" href="shared/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="shared/bootstrap/css/bootstrap-responsive.min.css"/>

<!-- JAVASCRIPTS -->
<script src="shared/jquery.js" type="text/javascript"></script>
<script src="shared/shiny.js" type="text/javascript"></script>
<script src="shared/slider/js/jquery.slider.min.js"></script>
<script src="shared/bootstrap/js/bootstrap.min.js"></script>



