<meta name="viewport" content="width=1200" />
<title>{{{ page.title }}} </title>
<link href="{{page.url.framework}}/css/fathom.sample.css" rel="stylesheet" type="text/css" />
<link href="{{page.url.highlighter}}/css/{{page.hitheme}}.css" rel="stylesheet" type="text/css" />
<script src="{{page.url.framework}}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{page.url.framework}}/js/fathom.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
  	$("#presentation").fathom();
	});
</script>
